.movie-container {
  // display: grid;
  // grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // grid-gap: 20px;
  padding: 20px;
  background: black;
  z-index: -2;
}