.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;
  background: black;
  z-index: 1;
}

.no-movies,
.loading,
.error {
  color: white;
  margin-top: 32%;
  font-size: 36px;
  text-shadow: 3px 3px #ba0000;
  font-family: 'Bungee Inline', cursive;
  margin: 300px 40px 40px 40px;
}

