.search-bar-div {
  height: 50px;
  margin: 175px auto 0 auto;
  padding-left: 60px;
  width: 550px;
}

.search-input {
  margin-right: 30px;
  width: 350px;
  z-index: 20;
}

.sticky {
  opacity: 0;
  transition-duration: 0.5s;
}